<div class="container-fluid">
  <div class="d-flex flex-column mr-auto" style="padding: 70px 0;height: 100%">
    <h2 class="text-center m-0" style="padding-bottom: 52px;color:black">
      Почему это сработает?
    </h2>
    <div class="d-flex row offset-lg-1 offset-md-0 offset-sm-0 col-xl-10 col-lg-10 col-md-12 col-sm-12"
         style="background: #FFFFFF;border: 1px dashed #3625D3;box-sizing: border-box;border-radius: 3px;">
      <div class="d-flex flex-column col-sm-6 col-xs-12"
           style="padding: 30px;height: 100%;">
        <span class="font-weight-bold d-block" style="padding-bottom: 10px">
          Почему это сработает у Вас? Всё просто!
        </span>
        <span>
         Эксперементально доказано, что самые лучшие и качественные посетители на сайт приходят через органический
        трафик, а не через платный. И, между прочим, самый большой по количеству пользователей трафик -
        тоже органический. Так что нет никаких сомнений,
        что оптимизация сайта увеличит Ваш органический трафик и тем самым увеличит поток Ваших заявок!
        </span>
      </div>
      <div style="min-height: 100%">
        <img src="/assets/block-3/img@2x.png" style="
        object-fit: contain;
        width: 100%;
        height: 100%;
        position:relative;
        right: -50px;
    ">
      </div>
    </div>
  </div>
</div>
