<div class="container-fluid">
  <div class="d-flex flex-column" style="padding: 70px 110px">
    <h2 class="text-center m-0" style="padding-bottom: 52px;color:black">
      Наши кейсы
    </h2>
    <div class="d-flex flex-column justify-content-start" style="background: #FFFFFF;border: 1px dashed #3625D3;box-sizing: border-box;border-radius: 3px;padding: 30px">
        <span class="font-weight-bold d-block col-7" style="padding-bottom: 10px">
          Почему это сработает у Вас? Всё просто!
        </span>
        <span class="col-7">
         Эксперементально доказано, что самые лучшие и качественные посетители на сайт приходят через органический
        трафик, а не через платный. И, между прочим, самый большой по количеству пользователей трафик -
        тоже органический. Так что нет никаких сомнений,
        что оптимизация сайта увеличит Ваш органический трафик и тем самым увеличит поток Ваших заявок!
        </span>
    </div>
  </div>
</div>
