.questions-screen{
  background: #3625D3;
  color: #ffffff;
  background-image: radial-gradient(#7e7e7ea1 1%, #3625D3 20%);
  background-position: 0 0;
  background-size: 10px 10px;
  //height: 200px;
  width: 100%;
}

.left-shape{
  position:absolute;
  width: 330px;
  left: -160px;
  top: 160px;
}

.right-shape{
  position:absolute;
  width: 420px;
  right: -250px;
}
