<div id="questions-screen" class="container-fluid questions-screen" style="position:relative;">
  <img src="/assets/block-6/shape-left@2x.png" class="left-shape">
  <img src="/assets/block-6/shape-right@2x.png" class="right-shape">
  <div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center col-xl-6 col-lg-6 col-md-8 col-sm-8 col-xs-12"
         style="padding-top: 70px;color: #ffffff">
      <h2 class="text-center font-weight-bold">
        Остались вопросы?
      </h2>
      <span class="text-center">Оставьте заявку на консультацию с нашим
        специалистом и получите прогноз продвижения Вашего сайта</span>
      <div class="col-12 w-100 mr-auto" style="padding: 50px 0 70px">
        <div class="content w-100 h-100 " style="
     background: #FFFFFF;
    border: 1px dashed #3625D3;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 70px 30px 50px">
          <form class="d-flex flex-column" ngNoForm [action]="'https://formspree.io/info@upclient.by'" method="POST" >
            <mat-form-field class="example-full-width">
              <input matInput name="name_user" placeholder="Ваше имя:">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput name="phone_number" placeholder="Номер телефона:">
            </mat-form-field>
            <div class="d-flex justify-content-center" style="padding-top: 30px">
              <button type="submit" color="primary" mat-raised-button>Отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
