<div class="container-fluid" style="background: #ffffff">
  <div class="d-flex flex-column align-items-center" style="padding: 70px 0">
    <div class="d-flex flex-column align-items-center col-6"
         style="padding-bottom:50px;color: #000000">
      <h4 class="text-center font-weight-bold">
        Наши клиенты
      </h4>
    </div>
    <ngx-slick-carousel #slickModal="slick-carousel"
                        [config]="slideConfig"
                        class="carousel"
                        style="width: 100%">
      <div *ngFor="let slide of slides" class="slide d-flex row justify-content-center" ngxSlickItem>
        <img alt="" src="{{ slide.img }}" width="300px" style="object-fit: contain">
      </div>
    </ngx-slick-carousel>
    <div class="d-flex flex-column align-items-center carousel-desktop">
      <div class="d-flex row">
        <div class="col-3">
          <img src="assets/block-7/logo-minskaya@2x.png" style="width: 100%">
        </div>
        <div class="col-3">
          <img src="assets/block-7/logo-mic@2x.png" style="width: 100%">
        </div>
        <div class="col-3">
          <img src="assets/block-7/logo-ux@2x.png" style="width: 100%">
        </div>
        <div class="col-3">
          <img src="assets/block-7/logo-zrobym@2x.png" style="width: 100%">
        </div>
      </div>
      <div class="d-flex row" style="padding-top: 50px">
        <div class="col-3">
          <img src="assets/block-7/logo-1akb@2x.png" style="width: 100%">
        </div>
        <div class="col-3">
          <img src="assets/block-7/logo-falcon@2x.png" style="width: 100%">
        </div>
        <div class="col-3">
          <img src="assets/block-7/logo-zvezda@2x.png" style="width: 100%">
        </div>
        <div class="col-3">
          <img src="assets/block-7/logo-skoda@2x.png" style="width: 100%">
        </div>
      </div>
    </div>
  </div>

</div>
