<div class="container-fluid" style="background: #ffffff">
  <div class="d-flex flex-column align-items-center" style="padding: 70px 30px">
    <div class="d-flex flex-column align-items-center col-6"
         style="padding-bottom:100px;color: #000000">
      <h4 class="text-center font-weight-bold">
        Наши клиенты
      </h4>
    </div>
    <div class="d-flex flex-column align-items-center" style="padding: 0 30px">
      <div class="d-flex flex-row col-12">
        <div class="col-3">
          <img style="width: 100%" src="assets/block-7/logo-minskaya@2x.png">
        </div>
        <div class="col-3">
          <img style="width: 100%" src="assets/block-7/logo-mic@2x.png">
        </div>
        <div class="col-3">
          <img style="width: 100%" src="assets/block-7/logo-ux@2x.png">
        </div>
        <div class="col-3">
          <img style="width: 100%" src="assets/block-7/logo-zrobym@2x.png">
        </div>
      </div>
      <div class="d-flex flex-row col-12" style="padding-top: 50px">
        <div class="col-3">
          <img style="width: 100%" src="assets/block-7/logo-1akb@2x.png">
        </div>
        <div class="col-3">
          <img style="width: 100%" src="assets/block-7/logo-falcon@2x.png">
        </div>
        <div class="col-3">
          <img style="width: 100%" src="assets/block-7/logo-zvezda@2x.png">
        </div>
        <div class="col-3">
          <img style="width: 100%" src="assets/block-7/logo-skoda@2x.png">
        </div>
      </div>
    </div>
  </div>
</div>
