<div class="container-fluid" style="padding-bottom: 70px;background: #C4C4C4">
  <div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center col-6"  style="padding-top: 70px;padding-bottom: 50px">
      <h2 class="text-center">
        Наши кейсы
      </h2>
      <span class="text-center">Успешные проекты, креативные решения, сильные цифры и не только </span>
    </div>
  </div>
  <div class="d-flex flex-column" style="padding-bottom: 70px">
    <div class="d-flex flex-row" style="padding-bottom: 30px">
      <client-keys-card [data]="keysesData[0]"></client-keys-card>
      <client-keys-card [data]="keysesData[1]"></client-keys-card>
    </div>
    <div class="d-flex flex-row">
      <client-keys-card [data]="keysesData[2]"></client-keys-card>
      <client-keyses-form></client-keyses-form>
    </div>
  </div>
</div>
