<div class="container-fluid footer-screen">
  <div class="d-flex flex-column" style="padding: 70px 30px 100px">
    <div>
      <img src="assets/footer/logo_upclient-seo.svg">
    </div>
    <div class="d-flex flex-row justify-content-between" style="padding-top: 30px">
      <h5 class="col-6 d-flex flex-column p-0 m-0">
        Upclient — агентство полного цикла интернет-маркетинга,
        предлагающее комплексный подход в продвижении Вашего бренда.<br><br>
        Сочетая креативный подход и свежие инструменты мы
        выводим Ваш продукт на новый уровень.
      </h5>
      <div class="col-6 d-flex flex-column justify-content-end align-items-end">
        <h5 class="m-0" style="padding-bottom: 10px">
          +375 29 712 09 12
        </h5>
        <h5 class="m-0" style="padding-bottom: 10px">
          info@upclient.by
        </h5>
        <h5 class="p-0 m-0">
          Минск, Фабрициуса 9а-412
        </h5>
      </div>
    </div>
  </div>
</div>
