.footer-screen{
  background: #242629;
  color: #ffffff;
  background-image: radial-gradient(#7e7e7ea1 1%, #242629 20%);
  background-position: 0 0;
  background-size: 10px 10px;
  //height: 200px;
  width: 100%;

  a{
    text-decoration: none;
    color: #ffffff;
  }
}


@media screen and (max-width: 960px){
  .md-down{
    padding-top: 100px;
  }

  .sub-header{
    text-align: center;
  }
}
