<div id="footer-screen" class="container-fluid footer-screen">
  <div class="d-flex flex-column" style="padding: 70px 30px 100px">
    <div class="d-flex justify-content-center justify-content-lg-start">
      <img src="assets/footer/logo_upclient-seo.svg">
    </div>
    <div class="d-flex flex-lg-row flex-md-column flex-sm-column flex-column align-items-md-center align-items-sm-center align-items-center justify-content-between" style="padding-top: 30px">
      <h5 class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-xs-12 d-flex flex-column p-0 m-0 sub-header">
        Upclient — агентство полного цикла интернет-маркетинга,
        предлагающее комплексный подход в продвижении Вашего бренда.<br><br>
        Сочетая креативный подход и свежие инструменты мы
        выводим Ваш продукт на новый уровень.
      </h5>
      <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-xs-12 d-flex flex-column align-items-center align-items-lg-end md-down">
        <h5 class="m-0" style="padding-bottom: 10px">
          +375 29 712 09 12
        </h5>
        <h5 class="m-0" style="padding-bottom: 10px">
          info@upclient.by
        </h5>
        <h5 class="p-0 m-0">
          Минск, Фабрициуса 9а-412
        </h5>
      </div>
    </div>
  </div>
</div>
