<div class="d-flex container-fluid" style="border-radius: 16px;background: #FFFFFF;padding: 0;position: relative">
  <img style="position: absolute;right: 20px;top: 20px;z-index: 999;cursor: pointer" (click)="dialogRef.close()" src="assets/close.png">
  <div class="col-lg-5 col-xl-5 popup-image">
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 content w-100 h-100 form-content">
      <h4 class="m-0 font-weight-bold" style="padding-bottom: 5px; color:black">
        Месяц бесплатного SEO!
      </h4>
      <span class="d-block w-100" style="color:black">Закажите оптимизацию своего сайта и получите +1 месяц seo в подарок!</span>
      <form  ngNoForm [action]="'https://formspree.io/info@upclient.by'" method="POST"  class="d-flex flex-column" style="padding-top: 20px">
        <mat-form-field class="example-full-width">
          <input matInput name="link_site" placeholder="Ссылка на ваш сайт:" type="text">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput name="phone_number" placeholder="Номер телефона:" type="text">
        </mat-form-field>
        <div class="d-flex" style="padding-top: 10px">
          <button type="submit" color="primary" mat-raised-button>Отправить</button>
        </div>
      </form>
  </div>
</div>
