<div class="col-12 w-100 mr-auto" style="height: 300px;">
  <div class="content w-100 h-100 " style="
     background: #FFFFFF;
    border: 1px dashed #3625D3;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 20px 30px 30px 30px">
    <h4 class="m-0 text-center" style="padding-bottom: 5px; color:black">
      Бесплатный аудит
    </h4>
    <span class="d-block w-100 text-center" style="color:black">Вашего сайта с прогнозом продвижения</span>
    <form class="d-flex flex-column" style="padding-top: 20px">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ссылка на ваш сайт:">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Номер телефона:">
      </mat-form-field>
    </form>
    <div class="d-flex justify-content-center">
      <button mat-raised-button color="primary">Отправить</button>
    </div>
  </div>
</div>
