<div class="container-fluid align-items-center welcome-screen-container">
  <img class="left-ellipse" src="assets/block-1/ellipse2.png">
  <img class="right-ellipse" src="assets/block-1/ellipse1.png">
  <img *ngIf="state" [@slideInLeftOnEnter] [@slideOutRightOnLeave] class="left-monitor" src="assets/block-1/img-left.png">
  <img *ngIf="state" [@slideInRightOnEnter] [@slideOutLeftOnLeave] class="right-monitor" src="assets/block-1/img-right.png">
  <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh">
    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-xs-12 d-flex flex-column align-items-center justify-content-center"
         style="padding: 0 15px">
      <h2 class="text-center font-weight-bold" style="padding-bottom: 50px">Пожалуй, лучший путь к первой странице</h2>
      <span class="text-center" style="padding-bottom: 5px">
        Эффективный рост видимости вашего сайта
     </span>
      <span class="text-center" style="padding-bottom: 5px">
        Привлечение стабильного потока целевых клиентов
     </span>
      <span class="text-center">
        Работа только с белыми методами продвижения
     </span>
    </div>
  </div>
</div>
