<div class="container-fluid align-items-center welcome-screen-container">
  <img src="assets/block-1/img-left@2x.png" style="position:absolute;
    /*width: 73%;*/
    height: 60%;
    top: 23%;
    left: -535px;">
  <img src="assets/block-1/img-right@2x.png" style="position:absolute;
  /*width: 73%;*/
    height: 60%;
    top: 52%;
    right: -500px;">
  <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh">
    <div class="col-xl-6 col-lg-8 md-col-8 d-flex flex-column align-items-center justify-content-center">
      <h2 class="text-center" style="padding-bottom: 50px">Пожалуй, лучший путь к первой странице</h2>
      <span class="text-center">
        Эффективный рост видимости вашего сайта<br>
        Привлечение стабильного потока целевых клиентов<br>
        Работа только с белыми методами продвижения
     </span>
    </div>
  </div>
</div>
