<nav class="container-fluid">
  <div class="flex-row nav-bar-container">
    <div class="align-items-center">
      <img src="assets/header/logo_upclient-seo.svg">
    </div>
    <div class="align-items-center">
      <a pageScroll class="link" style="color: #ffffff;" [pageScrollOffset]="50" href="#keyses-screen">Наши кейсы</a>
      <a pageScroll class="link" style="color: #ffffff;" [pageScrollOffset]="50" href="#packages-screen">Пакеты</a>
      <a pageScroll class="link" style="color: #ffffff;" [pageScrollOffset]="50" href="#questions-screen">Форма</a>
      <a pageScroll class="link" style="color: #ffffff;" [pageScrollOffset]="50" href="#footer-screen">Контакты</a>
    </div>
  </div>
</nav>
