:host {
  width: 100%;
  color: #ffffff;
}

.first-card {
  position: absolute;
  width: 50%;
  right: -20%;
  top: -20%;
}

.basic-card {
  height: 300px;
}

.pad-80 {
  padding-top: 80px;
}

@media screen and (max-width: 576px) {
  .card-info {
    max-width: 100% !important;
    padding-bottom: 20px !important;
  }

  .basic-card {
    min-height: 300px;
    height: auto;
  }

  .first-card {
    position: absolute;
    width: 70%;
    right: 0;
  }

  .pad-80 {
    flex-direction: column !important;
    padding-top: 30px !important;
  }
}
