<div class="basic-card">
  <div class="content w-100 h-100 " style="background:#3625D3;border-radius: 3px;padding: 50px 30px 30px 30px">
    <img style="position:absolute;" src="{{data.image}}" class="first-card">
    <h4 class="m-0 font-weight-bold" style="padding-bottom: 10px">
      {{data.header}}
    </h4>
    <span>{{data.subHeader}}</span>
    <div *ngIf="true" class="d-flex align-items-center mr-auto" style="padding-top: 80px">
      <div *ngFor="let cell of data.cells" [ngClass]="{'col-4': data.objectType == 1,'col-6': data.objectType == 2}"
           class="p-0">
        <h4 class="align-items-start m-0 font-weight-bold"> {{cell.fieldValue}}</h4>
        <span class="align-items-center" style="font-size: 14px">
          {{cell.subscription}}
        </span>
      </div>
    </div>
  </div>
</div>
